#event_wait_list-frm {
    clear: both;
    margin: 1.5em 0;
    position: relative;
}

.event_wait_list-hidden-inputs {
    border: 1px solid #ddd;
    bottom: -25px;
    box-sizing: border-box;
    box-shadow: 0 25px 10px -5px rgba(0, 0, 0, .5), 0 5px 25px 5px rgba(0, 0, 0, .1);
    clear: both;
    left: 0;
    margin:0 auto 1em;
    opacity: 1;
    padding: 20px 20px 10px;
    position: absolute;
    width: 100%;
    max-width: 480px;
    z-index: 999;
    -webkit-animation-name: modal_drop;
    -webkit-animation-duration: 0.4s;
    animation-name: modal_drop;
    animation-duration: 0.4s
}

.event_wait_list-hidden-inputs label {
    display: block;
    margin: 1em 0 0;
}

.event_wait_list-hidden-inputs input[type="text"],
.event_wait_list-hidden-inputs select {
    width: 99%;
}

.ee-wait-list-cancel-dv {
    text-align: right;
}

#event_wait_list-frm .ee-wait-list-cancel-lnk {
    box-shadow: none;
    cursor: pointer;
}

.ee-icon-color-ee-purple:before {
    color:#8A549A;
}

/* Media Query for screens smaller then 768px (iPad portrait)
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 600px) and (min-width: 481px) {

}

@media only screen and (max-width: 540px) and (min-width: 480px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}

/* Animation Effects */
@-webkit-keyframes modal_drop {
    from {
        bottom: 300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes modal_drop {
    from {
        bottom: 300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

